* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

nav {
  margin-bottom: 2rem;
}

.searchInput {
  width: 47rem;
  height: 1.5rem;
  margin-right: 1rem;
  border-radius: 2rem;
}
button {
  height: 1.5rem;
  width: 4rem;
  border-radius: 2rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
